{% extends 'base.html' %}
{% load static %}

{%block title %} Marga's E-shop {%endblock%}

{%block body%}

{% include './includes/nav.html' %}
{% include './includes/cor.html' %}

       
    <div class="container-fluid pt-5"> 
        <div class="row px-xl-5 pb-3">
            {%for c in category%}
            <div class="col-lg-4 col-md-6 pb-1"> 
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">{{c.category.count }} Product{{c.category.count|pluralize}}</p>
                    <a href="{% url 'category' c.cid %}" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="{{c.image.url}}" alt="">
                    </a>
                    <h5 class="font-weight-semi-bold m-0" style="text-align: center;">{{c.title}}</h5>
                </div>  
            </div>
            {%endfor%}
        </div>
    </div>

    

   
   
{%endblock%}


</html>